body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
}


.container {
width: 80%;
margin: auto;
background-color: #ffffff;
padding: 20px;
}


/* Header */
.header h1 {
text-align: center;
font-size: 32px;
}


.header h2 {
text-align: center;
font-size: 20px;
color: gray;
}


/* About Section */
#profile-img {
width: 150px;
height: 150px;
}


.about p {
font-size: 16px;
}


.highlight {
color: blue;
font-weight: bold;
}


/* Links */
.links a {
margin-right: 15px;
text-decoration: none;
}


.links a:hover {
color: green;
}

/* Form */
.contact {
margin-top: 20px;
}


input[type="text"], input[type="email"] {
width: 60%;
padding: 5px;
}


input[type="submit"] {
padding: 8px 15px;
}